 /*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 html {
   margin: 0;
   padding:0;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
   font-weight: 500;
   color: #333;
   line-height: 2.0;
   letter-spacing: 0.1em;
 }

 *, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box
  }

 h2,h3,h4,h5 {
   margin: 0;
   padding: 0;
 }

 img {
   width: 100%;
   vertical-align: bottom;
 }

 figure {
   margin: 0;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 ul,li,dl,dt,dd {
   margin:0;
   padding:0;
   list-style: none;
 }

 a {
   text-decoration: none;
   transition: all .6s ease;
 }

 a:hover {
   transition: all .6s ease;
 }

 .content-wrapper {
   width: 95%;
   margin: 0 auto;
   max-width: 1400px;
 }

 section h2 {
   font-size: 2rem;
 }

 body {
   background: white;

 }

 div {
   margin-right: auto;
   margin-left: auto;
   text-align: center;
 }

 .waraper {
   width: 1200px;
   padding: 25px;
   background-color: tomato;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
 }

 .explanation {
   box-sizing: border-box;
   width: 96%;
   padding: 1px;
   margin-bottom: 25px;
   background-color: turquoise;
   font-family: 'arial unicode ms';
   font-size: 30px;
   color: white;
   align-items: center;
 }

 .uper_area {
   box-sizing: border-box;
   height: 270px;
   width: 96%;
   padding: 10px;
   margin-bottom: 25px;
   background-color: #8f6cce;
 }

 .animal_image {
   vertical-align: top;
   height: 250px;
   width: 250px;
   background-color: #f5f8f8;
 }

 .input_form {
   vertical-align: top;
   box-sizing: border-box;
   display: inline-block;
   height: 100%;
   width: 60%;
   margin-left: 10px;
   font-size: 140px;
 }

 .erase_submit {
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   height: 100%;
   width: 170px;
   margin-left: 10px;
   background-color: #f5f8f8;
 }

 .form_btn {
   height: 110px;
   width: 150px;
   border-radius: 10px;
   margin-bottom: 10px;
 }

 .erase_btn {
   background-color: #adefff;
 }

 .eraser_img {
   height: 80px;
   width: 80px;
 }

 .erase_btn:hover {
   opacity: 0.7;
 }

 .judge_btn {
   text-align: center;
   background-color: #ff792b;
   font-family: 'arial unicode ms';
   font-size: 40px;
   color: white;
   -webkit-appearance: none;
 }

 .judge_btn:hover {
   opacity: 0.7;
 }

 .hiragana_area {
   box-sizing: border-box;
   height: 600px;
   width: 96%;
   margin-bottom: 25px;
   padding-top: 20px;
   padding-left: 20px;
   background-color: #f5f264;
 }

 .hiragana_btn {
   vertical-align: top;
   height: 260px;
   width: 260px;
   margin-right: 20px;
   margin-bottom: 20px;
   border-radius: 130px;
   background-color: lavenderblush;
   border-style: none;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
   box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
   border-bottom: solid 2px #b5b5b5;
 }

 .hiragana_btn:active {
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
   border-bottom: none;
 }

 .retry_btn {
   height: 80px;
   width: 500px;
   display: inline-block;
   text-align: center;
   line-height: 80px;
   border-radius: 50px;
   font-family: 'arial unicode ms';
   font-size: 40px;
   text-decoration: none;
   color: #FFF;
   background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
   transition: .4s;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
   box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
   border-bottom: solid 2px #b5b5b5;
 }

 .retry_btn:hover {
   background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
 }

 .retry_btn:active {
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
   border-bottom: none;
 }



 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
   font-family: 'arial unicode ms';
 }

 .modal-content {
   padding: 20px;
   background-color: white;
   height: 500px;
   width: 900px;
   margin: 10% auto;
 }



 .message {
   display: inline-block;
   text-align: center;
   width: 100%;
   margin: 10px;
   font-size: 60px;
   padding: 0px;
 }

 .modal_img {
   width: 90%;
   padding: 10px;
   background-color: #aafdd0;
   text-align: center;
   margin-bottom: 25;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .animal_name {
   font-size: 80px;
   margin: 20px;
   padding: 30px;
 }
